<ngx-spinner  
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: rgb(0, 0, 0)">Loading...</p>
</ngx-spinner>

<div class="row" style="height: 600px;">
  <div class="col-4 card" style="height: 100%;">
    <kendo-treeview
      [nodes]="projects" 
      [textField]="[ 'name' ]" 
      kendoTreeViewExpandable 
      kendoTreeViewHierarchyBinding
      childrenField="children" 
      kendoTreeViewSelectable  
      [selectBy]="'id'" 
      [(selectedKeys)]="selected"  
      (selectionChange)="onSelectProject($event)">
    </kendo-treeview>
  </div>
  <div class="col-8 card">
      <app-project-dtl></app-project-dtl>
  </div>
</div>