<p>
  Select a module
</p>
<div *ngIf="loggedIn" class="row sidenav">
  <div class="col-12 nav">
    <a routerLink="">Home</a>
  </div>
  <div class="col-12 nav">
    <a routerLink="/grid">Grille</a>
  </div>
  <div class="col-12 nav">
    <a routerLink="/kendo-demo">Controles </a>
  </div>
  <div class="col-12 nav">
    <a routerLink="/planner">Planner</a>
  </div>
  <div class="col-12 nav">
    <a routerLink="/axo">Axosoft Demo</a>
  </div>
  <div class="col-12 nav">
    <a routerLink="/login">Logout</a>
  </div>
</div>