<div class="grille">
  <kendo-grid [kendoGridBinding]="products" [height]="500" [resizable]="true" [sortable]="true" [filterable]="true">
    <kendo-grid-column field="productID" title="ID" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="productLine" title="Category" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="listPrice" title="List Price" width="80">
    </kendo-grid-column>
  </kendo-grid>
</div>
