/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/scss/bootstrap-reboot'; */
@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/bootstrap-grid';

.full-width-input {
  width: 100%;
}

.mg-top-15 {
  margin-top: 15px;
}

.pd-left-15 {
  padding-left: 15px;
}

.invalid-field {
    color: #D42434;
    margin-top: -15px;
    font-size: .7em;
}

.mg-bottom-15 {
  margin-bottom: 15px;
}

.pull-right {
  float: right;
}

.ValidationErrorLabel {
  width: 100%;
  background: #D42434;
  color: white;
  padding: 15px;
  border-radius: 3px;
}
  // Fonctionne seulement dans le styles.scss
  .b-grid-body-container {
    min-height: 500px;
    max-height: 500px;
  }